﻿
@{
    ViewBag.Title = "UpdateStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateStock</h2>
@section Scripts{
            <script src="~/Scripts/jquery.jqGrid.js" type="text/javascript"></script>
            <script src="" type="text/javascript"></script>
            <script src="~/Scripts/lang/grid.locale-zh-CN.js"></script>
            <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
            <script type="text/javascript">
                        function Initialize()
                        {
                            _gridStyle = 'gridStyle';
                            _grid = $('#' + _gridStyle);
                        }
                        function InitData()
                        {
                            var collist = Fetch_column();
                            fn_grid_init("",collist);
                            var data = fn_create_sampledata();
                            Set_Grid(data);
                        }
            </script>
            <script type="text/javascript">
            function Fetch_column()
            {
                var list = [];
                list.push({
                    name: "id", label: "序列", width: 100, align: "center",
                    cellattr: function (rowId, val, rawObject, cm, rdata) {
                        return 'class="readonlycell"';
                    }
                });
                list.push({
                    name: 'prodCode', label: '代码', width: 100, align: 'center',
                    cellattr: function (rowId, val, rawObject, cm, rdata) {
                        return 'class="readonlycell"';
                    }
                });
                list.push({
                    name: 'brandcode', label: '品牌', width: 100, align: 'center',
                    cellattr: function (rowId, val, rawObject, cm, rdata) {
                        return 'class="readonlycell"';
                    }
                });
                list.push({
                    name: 'prodname', label: '商品名', width: 100, align: 'center',
                    cellattr: function (rowId, val, rawObject, cm, rdata) {
                        return 'class="readonlycell"';
                    }
                });
                list.push({
                    name: 'size', label: '尺寸', width: 70, align: 'left',
                    editable: true,
                    edittype: 'text',
                    editoptions: {
                        'class': 'text-center',
                        maxlength: 10 //<input type='text' class='',style="",maxlength="10"...
                    }
                });
                list.push({
                    name: 'color', label: '颜色', width: 90, align: 'right',
                    formatter: 'number', formatoptions: { decimalPlaces: 2 },
                    cellattr: function (rowId, val, rawObject, cm, rdata) {
                        return 'class="readonlycell"';
                    }
                });
                list.push({
                    name: 'count', label: '数量', width: 70, align: 'right',
                    formatter: 'integer', formatoptions: { decimalPlaces: 0 },
                    editable: true,
                    edittype: 'text',
                    editoptions: {
                        'class': 'text-right',//text-align:right;
                        maxlength: 18
                    }
                });
                return list;
            }
            </script>
    }
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12">

                <div>
                    <div class="col-sm-6">
                        <div>
                            <label>商品名</label>
                            <select>
                                <option>ELAND(CN)</option>
                                <option>SPAO</option>
                            </select>
                        </div>
                        <div>
                            <label>品牌</label>
                            <select>
                                <option>ELAND(CN)</option>
                                <option>SPAO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="">
                            <table id="gridStyle"></table>
                            <div id="pagerStyle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info" id="btnSearch"><i class="fa fa-search"></i> 查询</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <table id="gridProd"></table>
                <div id="pagerProduct"></div>
            </div>
        </div>
    </div>
</div>
